<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Mongo-Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link articles" href="#">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link saved" href="#">Saved</a>
      </li>
      {{!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> --}}
    </ul>
  </div>
</nav>

<div class="jumbotron m-5">
  <div class="container">
    <h1 class="display-4 mx-auto d-flex justify-content-center">News Scraper</h1>
    <p class="lead d-flex justify-content-center">Scrape N.Y.T. save, and comment on articles.</p>
  </div>
</div>


 <button id="scrape"> Scrape Articles </button>
 <div id="notes"></div>
 <div id="articless">
   <ul id="articles">
     
   </ul>
 </div>
 




