/* add css */
#home-body {
    background-color: rgb(91, 136, 136)
    /* overflow: hidden; */
}

.jumbotron {
    background: url("../img/news.jpg") no-repeat;
    background-size: 500px 600px;
    background-position: 50%;
    color: white;
    
}

#scrape {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

#articless {
    text-align: center;
    height: 700px;
    width: 900px;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
}

#notes {
    height: 200px;
    width: 100px;
    margin-left: 40px;
    /* font-size: 5px; */
    /* right: 20px; */
}

#titleinput{
    margin-left: auto;
    margin-right: auto;
    
}

#bodyinput{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#savenote{
    margin-left: auto;
    margin-right: auto;
    
}

.h2 {
    font-size: 15px;
    width: 178px;
}
